- var title = "Pugless";
- var short_title = title;
- var desc = "Just another upstart";
- var author = "Jason Hibbs";
- var resources = "src/";

doctype html
<html class="no-js" lang="en">
meta(charset="utf-8")
title= title
meta(name="description" content=desc)
meta(name="author" content=author)

meta(name="HandheldFriendly" content="True")
meta(name="MobileOptimized" content="320")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

link(rel="stylesheet" href= resources + "css/style.css")
link(rel="shortcut icon" href=resources + "img/meta/favicon.png")
link(rel="apple-touch-icon-precomposed" href=resources + "img/meta/apple-touch-icon-precomposed.png")
meta(name="apple-mobile-web-app-title" content=short_title)

// script(src=resources + "js/modernizr.min.js")
<!--[if IEMobile]><meta http-equiv="cleartype" content="on"><![endif]-->
<body>
